$dropdown-input: #cfcfcf;

.tags-input-container {
  display: inline-block;
  margin: 6px 6px 0 8px;
  @media (max-width: #{768px}) {
    width: 210px;
  }
  @media (min-width: #{768px}) {
    width: 334px;
  }
  background-color: #fff;
  height: 19px;
  border: 1px solid $dropdown-input;
  overflow: hidden;
  .tags-container {
    background-color: #fff;
    display: inline-block;
    width: 322px;
    text-align: left;
    overflow: hidden;
    .tags-wrap {
      font-size: 12px;
      height: 100%;
      width: 100%;
      display: block;
      overflow-x: scroll;
      box-sizing: border-box;
      line-height: 17px;
      .tag {
        display: inline-block;
        height: 100%;
        margin: 1px 5px;
        padding: 0 4px 0 17px;
        border-radius: 5px;
        background-color: #e7ebef;
        background-image: url('/images/tag-image.png');
        background-position: 5px center;
        background-repeat: no-repeat;
        background-size: 9px;
        box-sizing: border-box;
      }
      .tag-input {
        height: 16px;
        border: none;
      }
    }
  }
}
